

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    padding: 0 100px;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    padding-top: 30px;
    overflow: hidden;
}

.header div {
    padding: 10px 40px;
}

.header img {
    width: 200px;
    height: 70px;
}

.header .logo {
    float: left;
}

.header .search {
    position: relative;
    float: left;
    padding: 24px 0 0 110px;
}

.search input {
    width: 530px;
    height: 40px;
    border: 1px solid rgb(175, 172, 172);
    border-radius: 20px;
}

.search button {
    position: absolute;
    top: 35px;
    right: 10px;
}

.icon {
    text-align: end;
    font-size: 40px;
    margin-top: 6px;
}

.icon i {
    padding: 0 10px;
}

/* nav */

#nav .container {
    padding: 0;
}

.nav ul {
    width: 1530px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    border-bottom: 2px solid red;
}

.nav ul li {
    font-weight: 500;
    font-size: 15px;
    padding-right: 52px;
}

.nav ul li:nth-child(1) {
    padding-left: 150px;
}
