

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    width: 1280px;
    padding: 0 100px;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    padding-top: 30px;
    overflow: hidden;
}

.header div {
    padding: 10px 40px;
}

.header img {
    width: 200px;
    height: 70px;
}

.header .logo {
    float: left;
}

.header .search {
    position: relative;
    float: left;
    padding: 24px 0 0 110px;
}

.search input {
    width: 530px;
    height: 40px;
    border: 1px solid rgb(175, 172, 172);
    border-radius: 20px;
}

.search button {
    position: absolute;
    top: 35px;
    right: 10px;
}

.icon {
    text-align: end;
    font-size: 40px;
    margin-top: 6px;
}

.icon i {
    padding: 0 10px;
}

/* nav */

#nav {
    border-bottom: 2px solid red;
    box-sizing: border-box;
}

#nav .container {
    padding-left: 75px;
    margin: auto;
    width: 1200px;
}

.nav {
    margin-top: 20px;
}

.nav ul {
    position: relative;
    width: 1530px;
    height: 43px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

.nav button {
    background: url(./img/spritesheet.png) -1525px -4px no-repeat transparent;
    font-weight: 500;
    font-size: 15px;
    width: 150px;
    padding-top: 2px;
    padding-right: 29px;
    color: white;
}

.nav button span {
    line-height: 0.5;
}

.nav ul li {
    font-weight: 500;
    font-size: 15px;
    padding: 10px 46px 0 0;
}
