
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    width: 1280px;
    padding: 0 100px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    padding-top: 30px;
    overflow: hidden;
}

.header div {
    padding: 10px 40px;
}

.header img {
    width: 200px;
    height: 70px;
}

.header .logo {
    float: left;
}

.header .search {
    position: relative;
    float: left;
    padding: 24px 0 0 110px;
}

.search input {
    width: 530px;
    height: 40px;
    border: 1px solid rgb(175, 172, 172);
    border-radius: 20px;
}

.search button {
    position: absolute;
    font-size: 20px;
    top: 34px;
    right: 12px;
}

.icon {
    text-align: end;
    font-size: 40px;
    margin-top: 6px;
}

.icon i {
    padding: 0 10px;
}

/* nav */

#nav {
    border-bottom: 2px solid red;
    box-sizing: border-box;
}

#nav .container {
    padding-left: 75px;
    margin: auto;
    width: 1200px;
}

.nav {
    margin-top: 20px;
}

.nav ul {
    position: relative;
    width: 1530px;
    height: 43px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

.nav button {
    background: url(./img/spritesheet.png) -1525px -4px no-repeat transparent;
    font-weight: 500;
    font-size: 15px;
    width: 150px;
    padding-top: 2px;
    padding-right: 29px;
    color: white;
}

.nav button span {
    line-height: 0.5;
}

.nav ul li {
    font-weight: 500;
    font-size: 15px;
    padding: 10px 52px 0 0;
}

.nav ul a:hover {
    color: red;
}

/* Slider */
.swiper {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    margin-bottom: 50px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 1218px;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

/* menu */

#menu {
    border-top: 1px solid rgba(184, 182, 182, 0.199);
    border-bottom: 1px solid rgba(184, 182, 182, 0.199);
}

.menu ul {
    overflow: hidden;
}

.menu ul li {
    float: left;
    width: 10%;
    box-sizing: border-box;
    padding: 40px 10px;
    text-align: center;
}

.menu ul li a {
    padding: 5px 0;
}

.menu ul li img {
    width: 80px;
}

.menu ul li span {
    display: block;
}

/* banner */

.banner {
    padding: 55px 0;
}

.banner .swiper .swiper-slide img {
    width: 1218px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

/* content1 munu*/

.content1 {
    text-align: center;
}

/* content1_items */

.menu_btn1 {
    font-family: 'Roboto', sans-serif;
}

.menu_btn1 ul li {
    position: relative;
    float: left;
    padding: 30px 73px;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.menu_btn1 ul li.active {
    border-bottom: 1px solid red;
}

.menu_btn1 ul li::after {
    content: '';
    width: 1px;
    height: 17px;
    background: rgb(173, 173, 173);
    position: absolute;
    top: 33px;
    right: 0;
}

.menu_btn1 ul li:last-child::after {
    width: 0;
}

.content1_menu .items {
    display: none;
}

.content1_menu .items.current {
    display: inherit;
}

.content1_menu .items ul li {
    width: 33%;
    float: left;
}

.content1_menu .items .item {
    position: relative;
    float: left;
    text-align: left;
    padding: 20px 10px 35px 10px;
    width: 33%;
    box-sizing: border-box;
}

.content1_menu .items .item .sale {
    display: inline-block;
    padding: 15px 0 10px 0;
}

.content1_menu .items .item .sale del {
    color: rgb(156, 156, 156);
}

.content1_menu .items .item .sale button {
    padding-left: 5px;
}

.content1_menu .items .item .price {
    display: inline-block;
    padding-bottom: 7px;
}

.content1_menu .items .item .price big {
    font-size: 25px;
}

.content1_menu .items .item .price .red {
    color: red;
    font-weight: 600;
}

.content1_menu .items .item .price .black {
    font-weight: 600;
}

.content1_menu .items .item .price small {
    font-size: 12px;
}

.content1_menu .items .item .score {
    display: inline-block;
    padding-bottom: 3px;
} 

.content1_menu .items .item .score i {
    color: orange;
    padding-right: 3px;
}

.content1_menu .items .item .score small {
    font-size: 13px;
    color: rgb(172, 172, 172);
}

.content1_menu .items .item .addsale {
    font-weight: bold;
    color: rgb(112, 111, 111);
}

.content1_menu .items .item a img {
    padding-bottom: 10px;
    border-radius: 2px;
    transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, -webkit-transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.content1_menu .items .item a img:hover {
    transform: scale(1.02);
}

.content1_menu .items .item .item_nav {
    display: none;
    width: 90%;
    position: absolute;
    left: 7px;
    top: 347px;
    background-color: rgba(0, 0, 0, 0.37);
    text-align: center;
}

.content1_menu .items .item .item_nav.show {
    display: block;
}

.content1_menu .items .item .item_nav i {
    color: white;
    font-size: 40px;
    padding: 5px 25px;
}

.content1_menu .items .item .event1 img {
    position: absolute;
    top: 21px;
    left: 11px;
    width: 60px;
}

.content1_menu .items .item .event1 span {
    position: absolute;
    top: 30px;
    left: 26px;
    color: red;
    font-size: 16px;
    font-weight: 700;
}

.content1_menu .items .item .event2 img {
    position: absolute;
    top: 21px;
    right: 39px;
}

.content1_menu .items .item .event1.show,
.content1_menu .items .item .event2.show {
    display: none;
}

/* content2 menu */

.content2 {
    text-align: center;
}

.content2 .menu_btn2 {
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid rgb(170, 170, 170);
    line-height: 2px;
}

.content2 .menu_btn2 ul {
    display: inline-block;
}

.content2 .menu_btn2 ul li {
    position: relative;
    float: left;
    padding: 30px 73px;
}

.content2 .menu_btn2 ul li.active {
    border-bottom: 1px solid red;
}

.content2 .menu_btn2 ul li::after {
    content: '';
    width: 1px;
    height: 17px;
    background: rgb(173, 173, 173);
    position: absolute;
    top: 33px;
    right: 0;
}

.menu_btn2 ul li:last-child::after {
    width: 0;
}

.content2_menu .items {
    display: none;
}

.content2_menu .items.current {
    display: inherit;
}

.content2_menu .items ul li {
    width: 33%;
    float: left;
}

.content2_menu .items .item {
    position: relative;
    float: left;
    text-align: left;
    padding: 20px 10px 35px 10px;
    width: 33%;
    box-sizing: border-box;
}

.content2_menu .items .item .sale {
    display: inline-block;
    padding: 15px 0 10px 0;
}

.content2_menu .items .item .sale del {
    color: rgb(156, 156, 156);
}

.content2_menu .items .item .sale button {
    padding-left: 5px;
}

.content2_menu .items .item .price {
    display: inline-block;
    padding-bottom: 7px;
}

.content2_menu .items .item .price big {
    font-size: 25px;
}

.content2_menu .items .item .price .red {
    color: red;
    font-weight: 600;
}

.content2_menu .items .item .price .black {
    font-weight: 600;
}

.content2_menu .items .item .price small {
    font-size: 12px;
}

.content2_menu .items .item .score {
    display: inline-block;
    padding-bottom: 3px;
} 

.content2_menu .items .item .score i {
    color: orange;
    padding-right: 3px;
}

.content2_menu .items .item .score small {
    font-size: 13px;
    color: rgb(172, 172, 172);
}

.content2_menu .items .item .addsale {
    font-weight: bold;
    color: rgb(112, 111, 111);
}

.content2_menu .items .item a img {
    padding-bottom: 10px;
    border-radius: 2px;
    transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, -webkit-transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.content2_menu .items .item a img:hover {
    transform: scale(1.02);
}

.content2_menu .items .item .item_nav {
    display: none;
    width: 90%;
    position: absolute;
    left: 7px;
    top: 347px;
    background-color: rgba(0, 0, 0, 0.37);
    text-align: center;
}

.content2_menu .items .item .item_nav.show {
    display: block;
}

.content2_menu .items .item .item_nav i {
    color: white;
    font-size: 40px;
    padding: 5px 25px;
}

.content2_menu .items .item .event1 img {
    position: absolute;
    top: 21px;
    left: 11px;
    width: 60px;
}

.content2_menu .items .item .event1 span {
    position: absolute;
    top: 30px;
    left: 26px;
    color: red;
    font-size: 16px;
    font-weight: 700;
}

.content2_menu .items .item .event2 img {
    position: absolute;
    top: 21px;
    right: 39px;
}

.content2_menu .items .item .event1.show,
.content2_menu .items .item .event2.show {
    display: none;
}

/* content3 */

.content3 {
    text-align: center;
}

.content3 .menu_btn3 {
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid rgb(170, 170, 170);
    line-height: 2px;
}

.content3 .menu_btn3 ul {
    display: inline-block;
}

.content3 .menu_btn3 ul li {
    position: relative;
    float: left;
    padding: 30px 73px;
}

.content3 .menu_btn3 ul li.active {
    border-bottom: 1px solid red;
}

.content3 .menu_btn3 ul li::after {
    content: '';
    width: 1px;
    height: 17px;
    background: rgb(173, 173, 173);
    position: absolute;
    top: 33px;
    right: 0;
}

.menu_btn3 ul li:last-child::after {
    width: 0;
}

.content3_menu .items {
    display: none;
}

.content3_menu .items.current {
    display: inherit;
}

.content3_menu .items ul li {
    width: 33%;
    float: left;
}

.content3_menu .items .item {
    position: relative;
    float: left;
    text-align: left;
    padding: 20px 10px 35px 10px;
    width: 33%;
    box-sizing: border-box;
}

.content3_menu .items .item .sale {
    display: inline-block;
    padding: 15px 0 10px 0;
}

.content3_menu .items .item .sale del {
    color: rgb(156, 156, 156);
}

.content3_menu .items .item .sale button {
    padding-left: 5px;
}

.content3_menu .items .item .price {
    display: inline-block;
    padding-bottom: 7px;
}

.content3_menu .items .item .price big {
    font-size: 25px;
}

.content3_menu .items .item .price .red {
    color: red;
    font-weight: 600;
}

.content3_menu .items .item .price .black {
    font-weight: 600;
}

.content3_menu .items .item .price small {
    font-size: 12px;
}

.content3_menu .items .item .score {
    display: inline-block;
    padding-bottom: 3px;
} 

.content3_menu .items .item .score i {
    color: orange;
    padding-right: 3px;
}

.content3_menu .items .item .score small {
    font-size: 13px;
    color: rgb(172, 172, 172);
}

.content3_menu .items .item .addsale {
    font-weight: bold;
    color: rgb(112, 111, 111);
}

.content3_menu .items .item a img {
    padding-bottom: 10px;
    border-radius: 2px;
    transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, -webkit-transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.content3_menu .items .item a img:hover {
    transform: scale(1.02);
}

.content3_menu .items .item .item_nav {
    display: none;
    width: 90%;
    position: absolute;
    left: 7px;
    top: 347px;
    background-color: rgba(0, 0, 0, 0.37);
    text-align: center;
}

.content3_menu .items .item .item_nav.show {
    display: block;
}

.content3_menu .items .item .item_nav i {
    color: white;
    font-size: 40px;
    padding: 5px 25px;
}

.content3_menu .items .item .event1 img {
    position: absolute;
    top: 21px;
    left: 11px;
    width: 60px;
}

.content3_menu .items .item .event1 span {
    position: absolute;
    top: 30px;
    left: 26px;
    color: red;
    font-size: 16px;
    font-weight: 700;
}

.content3_menu .items .item .event2 img {
    position: absolute;
    top: 21px;
    right: 39px;
}

.content3_menu .items .item .event1.show,
.content3_menu .items .item .event2.show {
    display: none;
}

/* footer */

#footer {
    border-top: 1px solid rgb(117, 117, 117);
    border-bottom: 1px solid rgb(117, 117, 117);
}

.footer {
    width: 100%;
    display: inline-block;
    margin-top: 70px;
}

.footer .footer_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer_nav ul li {
    position: relative;
    font-size: 12px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
}

.footer .footer_nav .footer_left > ul > li::after {
    content: '';
    width: 1px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(226, 226, 226, 0.747);
}
.footer .footer_nav .footer_left > ul > li .red {
    color: red;
}

.footer .footer_nav ul li a {
    color: rgb(117, 117, 117);
}

.footer .footer_nav .footer_right .family {
    font-size: 15px;
    color: rgb(117, 117, 117);
    border: 1px solid rgb(117, 117, 117);
    padding: 10px;
    box-sizing: border-box;
}

.footer .footer_nav .footer_right ul li {
    padding: 0 15px;
}

.footer .footer_nav .footer_right ul li:first-child {
    padding-left: 140px;
}